<div class="container">
    <div class="row">
        <div class="col-md-7">
            <form [formGroup]="addform" (ngSubmit)="onsubmit()" class="form-group">
                <label>Product Name</label>
                <input type="text" class="form-control" formControlName="pname">
                <label>Price</label>
                <input type="text" class="form-control" formControlName="price">
                <label>Description</label>
                <textarea type="text" rows="4" class="form-control" formControlName="description"></textarea>
                <label>Image URL</label>
                <input type="text" class="form-control" formControlName="imageurl"><br>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
