<div class="container">
    <div class="row" *ngFor="let pro of products">
        <div class="col-md-8">
            <a class="list-group-item clearfix" style="cursor:pointer">
            <div>
                <div class="pull-left">
                    <h4 class="list-group-item-heading">{{pro.pname}}</h4>
                    <p class="list-group-item-text">{{pro.description}}</p>
                </div>
                
                <div class="pull-right">
                    <img
                    src="{{pro.imageurl}}"
                    class="img-responsive"
                    style="max-height: 50px;">
                </div> 
            </div>
            </a>
        </div>
    </div>
</div>




